body {
  --app-color: rgb(67, 85, 181);
  --app-background-color: rgb(67, 85, 181);
  --app-text-color: rgb(255, 255, 255);
  font-family: 'Calibri', 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
}

.app {
  height: 100vh;
  display: flex;
  padding: 0 10px;
  margin: auto;
}
