.feed {
  flex: 0.3;
  border-right: 1px solid var(--app-background-color);
  min-width: 50vw;
  overflow-y: scroll;
}

.feed__header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  border: 4px 0px 4px 0px solid var(--app-background-color);
  padding: 0.5px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed ::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
