.postbox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--app-color);
  padding-right: 10px;
}

.postbox > form {
  display: flex;
  flex-direction: column;
}

.postbox__input {
  padding: 20px;
  display: flex;
}

.postbox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.postbox__imageInput {
  border: none;
  padding: 10px;
}

.postbox__input > avatar {
  height: 100;
}

.postbox__tweetButton {
 background-color: var(--app-color) !important;
  border: none !important;
  color: var(app-text-color) !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}
