.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--app-color) ;
  border-radius: 30px;
  color: var(app-text-color);
  transition: color 80ms ease-out;
}

.sidebarOption--active {
  color: var(--app-color) ;
}
