.sidebar {
  border-right: 1px solid var(--app-color);
  flex: 0.1;
  min-width: 250px;
  margin-top: 0px;
  padding: 0px 10px 0px 70px;
}

.sideBar_post {
  background-color: var(--app-color) !important;
  border: non !important;
  color: var(app-text-color) !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.sidebar__homeIcon {
  color: var(--app-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-right: 20px;
  height: 100px !important;
}

.logo-smoke {
  position: absolute;
  content: url("../resources/car-smoke.png");
  height: 200px;
  width: 260px;
  margin-top: 0;
  z-index: -2;
}
.logo-tires {
  position: absolute;
  content: url("../resources/car-tyres.png");
  height: 200px;
  width: 260px;
  margin-top: 0;
  z-index: -1;
}
.logo-body {
  content: url("../resources/car-body.png");
  height: 200px;
  width: 260px;
  left: 100px;
  z-index: 0;
  animation: MoveUpDown 1s linear infinite;
}
.logo-body:hover {
  content: url("../resources/car-body-unhovered.png");
}
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

#logo {
  height: 150px;
  z-index: 2;
  position:fixed;
}